body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background-color: #f0f0f0; /* Light gray background */
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.75); /* Slightly darker background */
  padding: 40px;
  border-radius: 10px; /* More rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #ffffff; /* White color for better contrast */
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

label {
  display: block;
  font-size: 14px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 5px;
}

input {
  width: 100%; /* Full width */
  padding: 12px;
  border: 1px solid #ccc; /* Light border for better visibility */
  border-radius: 5px;
  font-size: 16px;
  color: #333; /* Darker text color */
  background-color: #fff;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

input:focus {
  border-color: #198a7b; /* Match border color with button */
  outline: none;
}

button {
  width: 100%; /* Full width */
  padding: 12px;
  background-color: #198a7b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 19px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  display: block; /* Ensure the button is a block element */
  margin: 0 auto; /* Center the button */
}

button:hover {
  background-color: #44afa1;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 139, 130, 0.5); /* Focus ring for accessibility */
}

button:active {
  transform: translateY(2px);
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 20px; /* Reduce padding on smaller screens */
  }
}
